@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #262626;
  background-repeat: no-repeat;
  background-size: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

particle {
  position: relative;
  z-index: 1;
}
